<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kine.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="rawBinding">
          <webMessageEncoding webContentTypeMapperType="Kine.RawContentTypeMapper,TFS2NAVService" />
          <httpTransport transferMode="Streamed" manualAddressing="true" />
        </binding>
      </customBinding>
    </bindings>
    <client />
    <services>
      <service name="Kine.TFS2NAVListener" behaviorConfiguration="RESTBehaviour">
        <endpoint address="" binding="customBinding" contract="Kine.ITFS2NAVListener" behaviorConfiguration="EndpointBehaviour" bindingConfiguration="rawBinding" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="RESTBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <applicationSettings>
    <Kine.Properties.Settings>
      <setting name="TFS2NAVService_NAV_TFS2NAV" serializeAs="String">
        <value>http://develsupp15.navertica.local:7047/Navertica2015/WS/Test%20NAVERTICA%20a.s./Codeunit/TFS2NAV</value>
      </setting>
      <setting name="WSUserName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="WSUserPwd" serializeAs="String">
        <value></value>
      </setting>
      <setting name="WSUserDomain" serializeAs="String">
        <value></value>
      </setting>
      <setting name="WSauthType" serializeAs="String">
        <value>NTLM</value>
      </setting>
    </Kine.Properties.Settings>
  </applicationSettings>
</configuration>
